

{% extends 'base.html' %}

{% block title %} ACI {% endblock %}

{% block content  %}
<div class="container-fluid">
  <h2>Fabric Information of {{ fabric }} @{{ location }}</h2>
  <p>Below page capture the snapshot of the fabric, endpoint and more information </p>
  <p>Time took to process: {{ totalTime }}  </p>
  <ul class="nav nav-tabs">
    <li class="active"><a data-toggle="pill" href="#home">Home</a></li>
    <li><a data-toggle="tab" href="#menu1">Fabric Information</a></li>
    <li><a data-toggle="tab" href="#menu2">Endpoint Information</a></li>
  </ul>
  <div class="tab-content">
    <div id="home" class="tab-pane fade in active">
      <h3>HOME</h3>
      <p>List of mo's captured as part of the change</p>
    </div>

    <div id="menu1" class="tab-pane fade">
        <h1>Fabric Information</h1>
        <p>Location : {{ location }}</p>
        <p>Fabric : {{ fabric }}</p>
        <p>Controller  : {{ controller }}</p>
        <p>Total nodes : {{ node_information.totalCount }}</p>
        <br>
        <input class="form-control" id="searchfabricInput" type="text" placeholder="Search for Fabric information..">
        <br>
        <table id="fabricTable" class="display table table-striped table-condensed" width=100% >
            <thead>
              <tr>
                 <td>Node ID</td>
                 <td>Name</td>
                 <td>Role</td>
                 <td>Fabric state</td>
                 <td>Model</td>
                 <td>Serial</td>
                 <td>DN</td>
                 <td>Firmware</td>
             </tr>
            </thead>
            <tbody>
                {% for node in node_information.imdata %}
                <tr class="{{ node.fabricNode.attributes.element_class }}">
                    <td>{{ node.fabricNode.attributes.id }}</td>
                    <td>{{ node.fabricNode.attributes.name }}</td>
                    <td>{{ node.fabricNode.attributes.role }}</td>
                    <td>{{ node.fabricNode.attributes.fabricSt }}</td>
                    <td>{{ node.fabricNode.attributes.model }}</td>
                    <td>{{ node.fabricNode.attributes.serial }}</td>
                    <td>{{ node.fabricNode.attributes.dn }}</td>
                    <td>{{ node.fabricNode.attributes.firmware }}</td>
                </tr>
                {% endfor%}
            </tbody>
        </table>
    </div>

    <div id="menu2" class="tab-pane fade">
        <p>Total Ip Information: {{ endpoint_total }}</p>
        <input class="form-control" id="searchInput" type="text" placeholder="Search for Endpoint..">
        <br>
        <table id="endpointtable" class="display table table-striped table-condensed" width=100% >
                <thead>
                    <tr>
                        <tr>
                            <td>Endpoint</td>
                            <td>IP address</td>
                            <td>MAC address</td>
                            <td>Tenant</td>
                            <td>EPG/VRF/L3out</td>
                            <td>Hostname</td>
                            <td>Encap Vlan</td>
                            <td>Routable IP</td>
                        </tr>
                </thead>
                <tbody>
                    {% for ep  in endpoint_info %}
                    <tr class = '{{ ep[8] }}'>
                        <td>{{ ep[2] }}</td>
                        <td>{{ ep[3] }}</td>
                        <td>{{ ep[4] }}</td>
                        <td>{{ ep[0] }}</td>
                        <td>{{ ep[1] }}</td>
                        <td>{{ ep[7] }}</td>
                        <td>{{ ep[5] }}</td>
                        <td>{{ ep[6] }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
        </table>

    </div>

  </div>
</div>
{% endblock %}
{% block script  %}
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js" integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script>
        $(document).ready(function(){
          $("#searchInput").on("keyup", function() {
            var value = $(this).val().toLowerCase();
            $("#endpointtable tr").filter(function() {
              $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
          });
        });
    </script>
    <script>
        $(document).ready(function(){
          $("#searchfabricInput").on("keyup", function() {
            var value = $(this).val().toLowerCase();
            $("#fabricTable tr").filter(function() {
              $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
          });
        });
    </script>
{% endblock %}
