

{% extends 'base.html' %}

{% block title %} ACI {% endblock %}

{% block content  %}
<div class="container-fluid">
  <h2>Fabric Information of {{ fabric }} @{{ location }}</h2>
  <p>Below page capture the snapshot of the fabric, endpoint and more information </p>
  <p>Time took to process: {{ totalTime }}  </p>
    <div class="form-check form-check-inline">
    <input class="form-check-input" type="radio" name="status" id="radios1" value="All" checked>
      <label class="form-check-label" for="radios1">
        All ports
      </label>
    </div>
    <div class="form-check form-check-inline">
    <input class="form-check-input" type="radio" name="status" id="radios2" value="up" checked>
      <label class="form-check-label" for="radios2">
        UP ports
      </label>
    </div>
  <br>
  <ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link" data-toggle="nav-link active pill" href="#home">Home</a>
    </li>
    <li class="nav-item" ><a class="nav-link" data-toggle="tab" href="#menu1">Fabric Information</a></li>
    <li class="nav-item" ><a class="nav-link" data-toggle="tab" href="#menu2">Endpoint Information</a></li>
    <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#menu3">Node Information</a></li>
  </ul>
  <div class="tab-content">
    <div id="home" class="tab-pane fade in active">
      <h3>HOME</h3>
      <p>List of mo's captured as part of the change</p>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
          <label class="form-check-label" for="inlineRadio1">1</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
          <label class="form-check-label" for="inlineRadio2">2</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3" disabled>
          <label class="form-check-label" for="inlineRadio3">3 (disabled)</label>
        </div>
    </div>

    <div id="menu2" class="tab-pane fade">
        <p>Total Ip Information: {{ endpoint_total }}</p>
        <input class="form-control" id="searchInput" type="text" placeholder="Search for Endpoint..">
        <br>
        <table id="endpointtable" class="display table table-striped table-condensed" width=100% >
                <thead>
                    <tr>
                        <tr>
                            <td>Endpoint</td>
                            <td>IP address</td>
                            <td>MAC address</td>
                            <td>Tenant</td>
                            <td>EPG/VRF/L3out</td>
                            <td>Hostname</td>
                            <td>Encap Vlan</td>
                            <td>Routable IP</td>
                        </tr>
                    </tr>
                </thead>
                <tbody>
                    {% for ep  in endpoint_info %}
                    <tr class = '{{ ep[8] }}'>
                        <td>{{ ep[2] }}</td>
                        <td>{{ ep[3] }}</td>
                        <td>{{ ep[4] }}</td>
                        <td>{{ ep[0] }}</td>
                        <td>{{ ep[1] }}</td>
                        <td>{{ ep[7] }}</td>
                        <td>{{ ep[5] }}</td>
                        <td>{{ ep[6] }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
        </table>

    </div>
    <div id="menu3" class="tab-pane fade">
         <ul class="nav nav-tabs">
           <li class="active"><a class="nav-link" data-toggle="pill" href="#nodehome">Node Summary</a></li>
           {% for node in phys_info %}
             <li><a class="nav-link" data-toggle="tab" href="#submenu{{node[0]}}">{{ node[0] }}</a></li>
           {% endfor %}
         </ul>
          <div class="tab-content">
            <div id="nodehome" class="tab-pane fade in active">
                <br>
                <div align="center">Summary of the Leafs ports </div>
                <br>
                <table class="display table table-striped table-condensed" width=100% >
                         <thead>
                           <tr>
                              <td>Node</td>
                              <td>Total Ports</td>
                              <td>controller UP Ports</td>
                              <td>Spine UP Ports</td>
                              <td>SouthBound UP Neighbors</td>
                               <td>Opflex - ODev</td>
                          </tr>
                         </thead>
                         <tbody>
                             {% for node in phys_info %}
                             <tr>
                                 <td>{{ node[0] }}</td>
                                 <td>{{ node[1].totalCount }}</td>
                                 <td>{{ node[1].controller_up_int_count }}</td>
                                 <td>{{ node[1].spine_up_int_count }}</td>
                                 <td>{{ node[1].southbound_up_int_count }}</td>
                                 <td>{{ node[2].totalCount }}</td>
                             </tr>
                             {% endfor %}
                         </tbody>
                     </table>
            </div>
            {% for node in phys_info %}
                <div id="submenu{{node[0]}}" class="tab-pane fade">
                    <p>Controller Interfaces of node: {{ node[0] }}</p>
                     <table class="display table table-striped table-condensed" width=100% >
                         <thead>
                           <tr>
                              <td>Int ID</td>
                              <td>status</td>
                              <td>dn</td>
                              <td>cdp dn</td>
                              <td>lldp dn</td>
                          </tr>
                         </thead>
                         <tbody>
                             {% for node_out in node[1]['controller_interfaces'] %}
                             <tr class="{{ node_out[6] }}">
                                 <td>{{ node_out[0] }}</td>
                                 <td>{{ node_out[2] }}</td>
                                 <td>{{ node_out[3] }}</td>
                                 <td>{{ node_out[4] }}</td>
                                 <td>{{ node_out[5] }}</td>
                             </tr>
                             {% endfor%}
                             {% for node_out in node[1]['southbound_interfaces'] %}
                             <tr class="dataRow">
                                 <td>{{ node_out[0] }}</td>
                                 <td>{{ node_out[2] }}</td>
                                 <td>{{ node_out[3] }}</td>
                                 <td>{{ node_out[4] }}</td>
                                 <td>{{ node_out[5] }}</td>
                             </tr>
                             {% endfor%}
                             {% for node_out in node[1]['spine_interfaces'] %}
                             <tr class="{{ node_out[6] }}">
                                 <td>{{ node_out[0] }}</td>
                                 <td>{{ node_out[2] }}</td>
                                 <td>{{ node_out[3] }}</td>
                                 <td>{{ node_out[4] }}</td>
                                 <td>{{ node_out[5] }}</td>
                             </tr>
                             {% endfor%}
                         </tbody>
                     </table>
                 </div>
            {% endfor %}
         </div>
      </div>
    </div>
</div>
{% endblock %}
{% block script  %}
    <script>
        $(document).ready(function(){
          $("#searchInput").on("keyup", function() {
            var value = $(this).val().toLowerCase();
            $("#endpointtable tr").filter(function() {
              $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
          });
        });
    </script>
    <script>
        $(document).ready(function(){
          $("#searchfabricInput").on("keyup", function() {
            var value = $(this).val().toLowerCase();
            $("#fabricTable tr").filter(function() {
              $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
          });
        });
    </script>
{% endblock %}
